*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    text-align: center;
}

header{
    grid-area: header;
    background-color: #5F8565;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo nav nav nav nav";

    
}

.bloco-titulo{
    grid-area: logo;
}

.navheader{
    grid-area: nav;
    height: 85%;
    background-color: #5F8565;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.pesquisa {
  width: 100%;
  display: flex; 
  margin-bottom: 10px;
}

.pesquisa form {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

.pesquisa input[type="text"] {
  width: 100%;
  padding: 8px 14px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px; 
  background-color: #fff;
}

.pesquisa button {
  padding: 8px 16px;
  background-color: #1E341F; 
  color: white;
  font-size: 15px;
  border: 1px solid white;  
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.pesquisa button:hover {
  background-color: #5F8565;
}


.menu-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.menu-links a {
  display: inline-block;
  color: #F2E6D8;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.active {
  background-color: #1E341F;
  transform: scale(1.02);
}

.menu-links a:hover,
.menu-links a.active {
  border-bottom: 3px solid #1E341F;
}

main{
    grid-area: main;
    background-color: #F2E6D8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "carrossel carrossel carrossel carrossel"
                        "catAmb catAmb catEst catEst"
                        "figure figure figure figure";
    gap: 3px;
    padding: 5px;
}

.slideshow-container{
    grid-area: carrossel;
    background-color:#F2E6D8;
    height: 450px;
}

#catAmb{
    grid-area: catAmb;
    background-color: #F2E6D8;
}

#catEst{
    grid-area: catEst;
    background-color: #F2E6D8;
}

section a img{
    padding-top: 100px;
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}

section a img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    opacity: 0.8;
}

#catAmb, #catEst{
    height: 682px;
}

figure{
    grid-area: figure;
    border-radius: 15px;
    background-color: black;
}

footer{
    grid-area: footer;
    text-align: center;
    background-color: #1E341F;
}

footer nav ul{
  list-style: none;
  text-decoration:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1.5rem;
}

footer nav ul li a{
  float: left;
  display: block;
  color: #F2E6D8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

footer nav ul li a:hover{
  border-bottom: 3px solid #5F8565;
}

footer nav ul li a.active{
  border-bottom: 3px solid #5F8565;
}

footer p{
  font-size: 0.875rem;
  color:#F2E6D8;
}

footer img{
  width: auto;
  height: 160px;
}

main figure video {
    width: 50%;
    height: 360px;
    object-fit: cover;
}

nav ul{
    display: flex; 
    justify-content: center; 
    list-style: none; 
    gap: 150px;
} 

.bloco-titulo{
    display: flex;
}

.bloco-titulo img{
  width: auto;
  height: 100px;
  padding: 3px;
}

.bloco-titulo a{
  margin:0; 
}

body {
  margin:0;
  font-family: "Merriweather", serif;

}

/*Media queries-Responsividade*/

/*Mobile*/
@media screen and (max-width:600px){
    header{
        height:70%;
    }
    .navheader{
        height:20%;
    }

    .pesquisa {
        height: 5px;
        margin-bottom: 5px;
    }

    .pesquisa form {
        width: 90%;
        height:100px;
        width: 200px;
    }

    .menu-links {
        flex-wrap: wrap;
        gap: 2px;
    }

    .menu-links a {
        padding: 4px 12px;
        font-size: 10px;
        border-bottom: 2px solid transparent;
    }
    .bloco-titulo img{
        width: 60%;
        height: 40%;
        padding: 3px;
    }


    
}

/* COMEÇO CARROSSEL */

.slideshow-container {
    grid-area: carrossel;

    width: 100%;
    max-width: 1000px;

    position: relative;
    margin: auto;

    overflow: hidden;
    border-radius: 8px;
}

.slides-track {
    display: flex;
    width: 100%;

    transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.mySlides {
    min-width: 100%;
    position: relative;
}

.slideshow-container img {
    width: 100%;
    vertical-align: middle;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;

    position: absolute;
    bottom: 8px;

    width: 100%;

    text-align: center;

    background: rgba(0, 0, 0, 0.4);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;

    position: absolute;
    top: 0;

    background: rgba(0, 0, 0, 0.4);
}

.dots-container {
    grid-area: carrossel;
    text-align: center;
    padding-top: 500px;
}

.dot {
    height: 12px;
    width: 12px;

    margin: 0 4px;

    background-color: #bbb;

    border-radius: 50%;

    display: inline-block;

    transition: background-color 0.6s ease,
                transform 0.3s ease;
}

.dot.active {
    background-color: #555;
    transform: scale(1.2);
}

/* FIM CARROSSEL */

/*MacBook*/




