@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: "Inter", "Helvetica Neue", sans-serif;
}
:root {
  --gray-dark: #505050;
  --gray-light: #d3d3d3;
  --gray-xlight: #f3f3f3;
}
body {
  padding: 0 50px;
  padding-bottom: 100px;
}
input[type="checkbox"] {
  appearance: none;
  position: relative;
  display: block;
  height: 15px;
  width: 15px;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid var(--gray-dark);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
input[type="checkbox"]::after {
  content: "\2713";
  z-index: 3;
  position: absolute;
  left: 20%;
  color: #fff;
}
input[type="checkbox"]:checked::before {
  background-color: #000;
  box-shadow: 0 0 0 1px #000000ee;
}
nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffffaa;
  backdrop-filter: blur(4px);
  align-items: center;
}
.brand {
  width: 130px;
}
.brand > img {
  width: 100%;
}
.nav-links > a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  position: relative;
  margin: 15px;
}
.nav-links > a:hover::after {
  opacity: 1;
  transform: translateY(0);
}
.nav-links > a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
  opacity: 0;
  background-color: #000;
  transform: translateY(30px);
  transition: opacity 0.3s, transform 0.3s;
}
.search {
  border-radius: 50rem;
  padding: 10px;
  display: flex;
  background-color: var(--gray-xlight);
}
.search-btn {
  padding: 10px 13px;
  border-radius: 50rem;
  margin-right: 10px;
  background-color: var(--gray-light);
  cursor: pointer;
}
.search > input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 0.9rem;
}
.categories {
  margin: 40px 0;
  display: flex;
  flex-wrap:wrap;
}
.category-badge {
  padding: 7px 15px;
  border-radius: 50rem;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.category-badge:has(input:checked) {
  background-color: var(--gray-light);
  border: none;
}
.category-badge:nth-of-type(1) {
  margin-left: 0;
}
.category-badge > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  display: block;
  opacity: 0;
  cursor: pointer;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.shoe-card {
  width: 100%;
  cursor: pointer;
}
.shoe-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.shoe-img:hover > img {
  transform: scale(1.1);
}
.shoe-img > img {
  width: 100%;
  transition: transform 0.3s ease;
}
.shoe-img > .heart {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.3rem;
  border: 1px solid var(--gray-light);
  color: var(--gray-dark);
  padding: 10px 12px;
  border-radius: 50rem;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.shoe-img > .heart:hover {
  color: #eb7a7a;
  border-color: #ffd7d7;
}
.shoe-img > .tag {
  z-index: 2;
  position: absolute;
  top: 25px;
  right: 20px;
  border: 1px solid var(--gray-light);
  color: var(--gray-dark);
  padding: 10px 12px;
  font-weight: 400;
  border-radius: 50rem;
}

.shoe-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.shoe-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.shoe-subtitle {
  color: var(--gray-dark);
  margin-top: 5px;
  margin-bottom: 10px;
}
.shoe-price {
  font-size: 1.1rem;
}
h1 {
  margin-top: 40px;
  font-size: 3.5rem;
  font-weight: 900;
}
.content {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2rem;
}
aside {
  position: sticky;
  top: 100px;
  width: 100%;
  height: 600px;
  padding: 30px 20px;
  background-color:#fafafa;
}
.filter-category {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-light);
}
.filter-category:nth-of-type(1) {
  margin-top: 0;
}
.filter-category:nth-last-of-type(1) {
  border-bottom: none;
}
.filter-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.filter-option {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
#sport > .filter-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
#sport .filter-option > label {
  width: 70px;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  border-radius: 50rem;
  overflow: hidden;
  position: relative;
}
#sport .filter-option:has(input:checked) > label::before,
#sport .filter-option:has(input:checked) > label::after {
  opacity: 1;
}
#sport .filter-option > label::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #000000aa;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
}
#sport .filter-option > label::after {
  content: "\2713";
  z-index: 100;
  color: #fff;
  font-size: 2rem;
  top: 20%;
  left: 30%;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}
#sport .filter-option > label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sport .filter-option > input {
  display: none;
}
#filterBtn{
  position:fixed;
  bottom: 20px;
  right:20px;
  width:50px;
  height:50px;
  background-color:var(--gray-xlight);
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50rem;
  font-size:1.2rem;
  overflow:hidden;
  cursor:pointer;
  display:none;
}
#filterBtn>input{
  width:100%;
  height:100%;
  opacity:0;
  position:absolute;
}

/* Filter Logic */
/* Gender */
aside:has(input[id="men"]:not(:checked))
  + main
  > .shoe-card[data-gender="men"] {
  display: none;
}
aside:has(input[id="women"]:not(:checked))
  + main
  > .shoe-card[data-gender="women"] {
  display: none;
}
aside:has(input[id="kids"]:not(:checked))
  + main
  > .shoe-card[data-gender="kids"] {
  display: none;
}
/* Sport */
aside:has(input[id="running"]:not(:checked))
  + main
  > .shoe-card[data-sport="running"] {
  display: none;
}
aside:has(input[id="basketball"]:not(:checked))
  + main
  > .shoe-card[data-sport="basketball"] {
  display: none;
}
aside:has(input[id="tennis"]:not(:checked))
  + main
  > .shoe-card[data-sport="tennis"] {
  display: none;
}
aside:has(input[id="training"]:not(:checked))
  + main
  > .shoe-card[data-sport="training"] {
  display: none;
}
/* Collection */
aside:has(input[id="airmax"]:not(:checked))
  + main
  > .shoe-card[data-collection="airmax"] {
  display: none;
}
aside:has(input[id="airforce"]:not(:checked))
  + main
  > .shoe-card[data-collection="airforce"] {
  display: none;
}
aside:has(input[id="airtrainer"]:not(:checked))
  + main
  > .shoe-card[data-collection="airtrainer"] {
  display: none;
}
aside:has(input[id="airmore"]:not(:checked))
  + main
  > .shoe-card[data-collection="airmore"] {
  display: none;
}
aside:has(input[id="alphafly"]:not(:checked))
  + main
  > .shoe-card[data-collection="alphafly"] {
  display: none;
}
@media(max-width:768px){
    .category-badge{
    margin:5px 10px 5px 0; 
  }
  main{
   display:flex;
    flex-direction:column;
  }
    #sport .filter-option > label{
    width:50px;
    height:50px;
  }
  #sport .filter-option > label::after {
    top:10%;
    left:20%;
  }
    .navbar>.nav-links{
    display:none;
  }
}
@media(max-width:576px){
  .navbar{
    padding:20px 0px;
  }

  .navbar>.search{
    padding:5px;
  }
  .navbar>.search-btn{
    padding:5px 7px;
  }
  .content{
    display:flex;
    justify-content:center;
  }
  aside{
    position:fixed;
    top:0;
    width:100%;
    padding-top:100px;
    height:calc(100%);
    z-index:10;
    background-color:#ffffff;
    backdrop-filter:blur(4px);
  }
 #sport > .filter-options{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
      #sport .filter-option > label{
    width:70px;
    height:70px;
  }
  #sport .filter-option > label::after {
    top:20%;
    left:30%;
  }
  #filterBtn{
    display:flex;
    z-index:1000;
  }
  body:has(#filterBtn>input:not(:checked)) aside{
  display:none;
}
    body:has(#filterBtn>input:checked){
 overflow:hidden;
}
}